.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #00837d, #cbf4f2);
}

.animation-gif {
  max-width: 80%;
  height: auto;
}

/* Mobil için düzenlemeler */
@media (max-width: 768px) {
  .animation-container {
    height: 80vh; /* Mobilde daha küçük bir yüksekliğe sahip olacak şekilde ayarlandı */
  }

  .animation-gif {
    max-width: 90%; /* Görüntünün mobilde daha büyük görünmesi için genişliği %90 yapıldı */
  }
}

/* Daha küçük mobil cihazlar için (özellikle telefonlar) */
@media (max-width: 480px) {
  .animation-container {
    height: 70vh; /* Küçük ekranlarda daha da küçültüldü */
  }

  .animation-gif {
    max-width: 100%; /* Telefonlarda görsel tam genişlik alacak şekilde ayarlandı */
  }
}
