.footer {
  background: linear-gradient(to right, #333, #444);
  color: #fff;
  padding: 50px;
  text-align: center;
  width: 100%;
}

.footer-content {
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-logo {
  height: 40px;
  width: 40px;
  transition: transform 0.3s ease;
}

.footer-logo-github {
  height: 40px;
  width: 100px;
}

.footer-logo:hover {
  transform: scale(1.2);
}

.gif {
  height: 40px;
  width: 40px;
}

/* Mobil için düzenlemeler */
@media (max-width: 768px) {
  .footer {
    padding: 30px;
  }

  .footer-logo {
    height: 30px;
    width: 30px;
  }

  .footer-logo-github {
    height: 30px;
    width: 80px;
  }

  .footer-social {
    gap: 15px;
  }

  .footer-content {
    margin-bottom: 5px;
  }
}

/* Daha küçük mobil cihazlar için (özellikle telefonlar) */
@media (max-width: 480px) {
  .footer {
    padding: 20px;
  }

  .footer-logo {
    height: 25px;
    width: 25px;
  }

  
  .footer-logo-github {
    height: 25px;
    width: 60px;
  }

  .footer-social {
    gap: 10px;
  }

  .footer-content {
    margin-bottom: 5px;
  }
}
